<!-- <div class=""><h3 class=" "></h3></div > -->



<form [formGroup]="loginForm" (ngSubmit)="onLogin()" style=" border-radius: 30px;" action="" class="container">

  <h2>Login</h2>

  <div class="input">
    <input formControlName="email" id="e1" name="email" class="input-fields" type="text" placeholder="Enter Email">
  </div>


  <div *ngIf="this.loginForm.get('email')?.errors && this.loginForm.get('email')?.touched">
    <p class="text-danger">Enter a valid email</p>
  </div>

  <!-- <div
  class="error-msg"
    *ngIf="
    this.loginForm.get('email')?.invalid &&
    this.loginForm.get('email')?.dirty &&
    this.loginForm.value.email.length > 5
  ">  Invalid Email Id </div> -->

  <div class="input">
    <input id="p1" formControlName="password" name="password" class="input-fields" type="password" placeholder="Enter password">
  </div>

  <div *ngIf="this.loginForm.get('password')?.errors && this.loginForm.get('password')?.touched">
    <p class="text-danger">Enter valid password</p>
  </div>

  <button class="mybutton" type="submit" >login</button>
  <p class="">Dont have account? <a  routerLink="/register">Create Account</a></p>
</form>

